$width:900px;
$style:0 auto;
body,div, dl, dt, em,font, form, h1, h2, h3, h4, h5, h6, html, i,img,label, legend, li, ol, p,small, span, strong, u, ul, var,a {
    margin: 0;
    padding: 0;
}
a{
    color: #666;
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    display: block;
    font-family: Arial,Verdana;
    font-size: 12px;
    background: #fff;
}
#header{
    width:$width;
    height: 80px;
    margin:$style;
    #logo{
        position: relative;
        width: 300px;
        margin: 10px 0;
        height: 60px;
        float: left;
        img{
            width: 170px;
        } 
        b{
            display: block;
            width: 110px;
            height: 40px;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 22px;
            font-weight:400;
        }
    }
    .q-link{
          a{ 
           display: block;
           position: relative;
           color: #999;
           float: right;
           top: 52px;
           height: 18px;
           width:136px;
           .icon-liaotian{
            width: 18px;
            height: 14px;
            color: red;
            font-size: 12px;  
           }           
       }                                  
    }
}
#content{    
    .tips{
        background: #fff8f0;
        width: 100%;
        height: 40px;    
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .login{
        background: url(../img/l-bj.gif);
        height: 475px;
        .form{
            height: 438px;
            width: $width;
            margin: $style;
            .loginform{
                position: relative;
                float: right;
                margin-top: 10px;
                width: 346px;
            .formtop{
                    background: #fff8f0;
                    width: 100%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: center;
                    p{
                        vertical-align: middle;
                        color: #999;
                        font-size: 12px;
                        display: inline-block
                    }
                } 
            .tab{
                height: 54px;
                font-size: 18px;        
                text-align: center;
                line-height: 18px;
                padding: 18.5px 0;
                border-bottom: 1px solid #f4f4f4;
                position: absolute;
                top: 36px;
                background: #fff;
                display: block;
                z-index: 2;
                a{
                    display: inline-block;
                    height: 18px;
                    width:170px;
                    border-right: 1px solid #cecece;
                }
                .tagstyle{
                    font-weight: 700;
                    color: #e4393c;
                    text-decoration: none;
                }
                & a:last-child{
                    border: none;
                }
               
            } 
            #container{
                background: #fff;
                top:36px;
                position: absolute;
                width: 345px;
                
                padding: 20px 18px 20px 20px;
                text-align: center;
               & .text{
                    height: 243px; 
                    .img{
                        position: relative;
                        height: 168px;
                        margin-top:55px;
                        display: block;
                        .img1{
                          border: 1px solid #f4f4f4;
                            padding: 8px;
                            width: 171px;
                            position: absolute;
                            left:64px;
                        }
                         .img2{
                          height: 165px;
                          position: absolute;
                          display:none; 
                        }
                        ul{
                           position: absolute;
                           text-align: center;
                           padding: 15px 65px;
                           width: 305px;
                           top: 165px;
                           li{
                               float: left;
                               width: 50%;
                             i{
                                 color: red;
                                 font-style: normal;
                             }  
                           }
                        }
                        .list{
                            width: 266px;
                            height: 25px;
                            line-height: 25px;
                            margin-left: 20px;
                           position: absolute;
                           top:196px;
                          padding: 0 10px;
                          li{
                              width: 33%;
                          }  
                        }
                         .login1{
                         display: none;
                         height: 168px;
                         width:320px;
                         position: absolute;
                         left: 0px;
                         top:0;
                         a{
                             float: right;
                             display: block;
                             margin-top: 10px;
                             margin-bottom: 10px;
                         }
                    }
                    }
                   
                }
                .last{
                    width: 345px;
                    position: absolute;
                    left: 0px;
                    padding: 0 20px;                   
                    line-height: 50px;
                    border-top: 1px solid #f4f4f4;
                    height: auto;
                    background-color: #fcfcfc;
                    li{
                        float: left;
                         a{ 
                             display: inline-block;
                             width: 60px; 
                            img{
                                width: 18px;
                                height: 18px;
                                margin-right: 5px;
                            }
                        } 
                    }
                    li:last-child{
                        float: right;
                       
                        a{
                             width:110px;
                            //color: #b61d1d;
                            span{
                                
                                display: inline-block;
                                background: #b61d1d;
                                color: white;
                                width: 20px;
                                height:20px;
                                text-align: center;
                                line-height: 20px;
                                border-radius: 50%;
                                margin-right: 5px;
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }  
            }
        }
    }
}
.copyright p {
 margin-top: 20px;
 margin-bottom: 9px;
 text-align: center;
 a{
    color: rgb(102, 102, 102);
    text-align: center;
    font-size: 13px; 
     margin: 0 9px;
 }
}