body,div, dl, dt, em,font, form, h1, h2, h3, h4, h5, h6, html, i,img,label, legend, li, ol, p,small, span, strong, u, ul, var,a {
        margin: 0;
        padding: 0;
    }
    a{
        color: #666;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
   body,html{
       height: 100%;
       width: 100%;
       font-size: 14px;
   }
    .header{
        height: 110px;
        box-shadow: 0px 9px 8px -7px #cecece;
        .top{
           height: 76px;
           width: 1210px;
           padding-top: 28px;
           margin: 0 auto;           
     #logo{
            position: relative;
            width: 300px;
            float: left;
           
            img{
                height: 50px;
                width: 170px;
                } 
            b{
                display: block;
                width: 105px;
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 22px;
                font-weight:400;
            }    
            }
            .tishi{
                float: right;
                margin-top: 30px;
                font-size: 16px;
                a{
                    color: #e22;
                }
            }
       }
    }
    .main{
        width: 1210px;
        padding: 50px 405px 186px 405px;
        margin: 0 auto;
        .head{
            height: 55px;
            margin-top:30px;
            .list{
                display: flex;            
                justify-content: space-around;
                li{                   
                    height: 55px;
                    font-size: 12px; 
                    text-align: center;
                    color: #C0C0C0;
                    span{
                        display: block;
                        height: 24px;
                        width: 24px;
                        margin: 0 auto;
                        border-radius:50% ;
                        border: 1px solid #CECECE;
                        text-align: center;
                        line-height: 24px;                     
                    }   
                    p{
                        margin-top: 10px;
                        }             
                }
                li:first-of-type{
                    color: #008000;
                    span{
                        background: #008000;
                        color: #fff;
                    }
                }
                b{
                    color: #CCCCCC;
                }             
            }
        }
        .form{
            height: 302px;
            margin-top:20px ;
            .phonelist{
                position: relative;
                height: 52px;
                position: relative;
                z-index: 2;
                margin:18px 0;
                border: 1px solid #CECECE; 
                .text{
                    float: left;
                    border: none;
                    height: 50px;
                    line-height: 50px;
                    padding-left: 20px;
                }
                .btn{
                    float: left;
                    width:107px;
                    height: 50px;
                    border: none;
                    padding: 0;
                    border-radius:0;
                    line-height: 50px;
                    padding-left: 20px;
                    border-right: 1px solid #CECECE;
                }
                .search{                  
                    display: none;
                    position: absolute;
                    top: 60px;
                    background-color: #fff;
                    z-index: -1;
                    width: 344px;
                    height: 303px;
                    left: 0;
                    padding-left: 15px;
                    box-shadow: 0px 0px 4px 4px #CECECE;
                    .jiantou1{
                        color: #CECECE;
                        position: absolute;
                        top:-15px;
                        left:30px;
                    }
                    .sousuo{
                        height: 42px;
                        width:316px;
                        padding-left: 35px;
                        margin: 5px 0;
                        line-height: 42px;
                        background: url(../img/fangdajing.png) no-repeat 10px 13px;
                        background-size: 16px 16px;
                    }
                    .check{
                        width: 330px;
                        height: 40px;
                        span{
                            color: red;   
                        }
                        
                    }
                    .country{                       
                            height: 185px;
                            overflow: auto;
                        li{
                            margin: 10px;
                        }
                    }
                }
                .tip1{
                    display: none;
                    position: absolute;
                    top:52px;
                    i{
                        color: orange;
                    }
                }
            }
            .renzheng{
                width: 400px;
                height: 54px;
                margin: 30px 0;
                border: 1px solid #CECECE;
                line-height: 54px;
                text-align: center;
                
            }
             .renzheng:last-child{
                 background: red;
                 color: #fff;
             }
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    #mask{
        position: fixed; 
        width: 944px; 
        height: 604px;
        top: 40%;
        left: 40%;
        border-radius: 5px; 
        margin-top: -215px; 
        margin-left: -305px; 
        z-index: 999; 
        box-shadow:0 3px 10px #ccc; 
        background: #fff; 
        border: 4px solid rgba(0,0,0,.1);
        .head {
             
             position: relative;
             padding: 0 10px;
             height: 31px;
             line-height: 31px;
             background: #f3f3f3;
             span {
                  float: left;
                   font-size: 14px;
                    color: #333; 
                    font-weight: 700; 
                    }
             a { 
                 float: right;
                  font-size: 14px; 
                  color: #333333; 
                  font-weight: 700;
                }
     }
        .body{
            overflow: auto;
            padding: 20px;
            height:450px;
            p { 
            font-size: 12px; 
            color: #333; 
            line-height: 20px; 
            }                       
        }
        .btn2{
            height: 54px;
            position: relative;
            padding-left: 250px;
            margin-top: 30px;
            a{ 
                float: left;
                display: block; 
                width: 200px; 
                height: 54px; 
                line-height: 54px; 
                border-radius: 2px; 
                text-align: center; 
                background: #ceceec;
                color: #000;
                margin-right: 30px;
                cursor: pointer; 
            }
            #btn1 {                 
                background: #f00; 
                font-size: 14px; 
                color: #fff;                 
                }
        }
    }
    .maskbg{
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,.3);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
